.container{
    padding-left: 15%;
    padding-right: 15%;
}
.bg-gradient-to-r {
    background-color: #64d9e3; 
    background-image: linear-gradient(to right, #64d9e3, #3b82f6);
  }

  .bg-gradient-to-br {
    background-color: #64d9e3; 
    background-image: linear-gradient(to bottom right, #64d9e3, #3b82f6);
  }
  .custom_container{
    padding-left: 25%;
    padding-right: 25%;
  }
  .admin-container{
    padding-left: 25%;
    padding-right: 25%;
  }
  .carousel-item {
    min-width: 10%;
  }
  @import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

  .containerSidebar {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  
  }
  .sidebar {
    position: relative;
    width: 256px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 14px;
    border-radius: 10px;
    transition: all 0.3s;
  }
  .sidebar {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
  }
  
  .user-details .title,
  .menu .title {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .user-details .name {
    font-size: 14px;
    font-weight: 500;
  }
  .nav {
    flex: 1;
  }
  .menu ul li {
    position: relative;
    list-style: none;
    margin-bottom: 5px;
  }
  .menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
  }
  