.container{
    padding-left: 15%;
    padding-right: 15%;
}
.bg-gradient-to-r {
    background-color: #64d9e3; 
    background-image: linear-gradient(to right, #64d9e3, #3b82f6);
  }

  .bg-gradient-to-br {
    background-color: #64d9e3; 
    background-image: linear-gradient(to bottom right, #64d9e3, #3b82f6);
  }
  .custom_container{
    padding-left: 25%;
    padding-right: 25%;
  }
  .admin-container{
    padding-left: 25%;
    padding-right: 25%;
  }
  .carousel-item {
    min-width: 10%;
  }